<%= form_with(model: @task,local: true, url: choose_new_or_edit) do |form| %>
<div class="task_content">
  <%= form.label :task_name %>
  <%= form.text_field :task_name %>
  <%= form.label :deadline %>
  <%= form.datetime_select :deadline %>
  <%= form.label :priority %>
  <%= form.select :priority, Task.priorities_i18n.invert, {} %>
  <%= form.label :status %>
  <%= form.select :status, [['done', 'done'],
                            ['not_started', 'not_started'],
                            ['in_progress', 'in_progress'],
                            ['hold', 'hold']]
  %>
  <%= form.label :content %>
  <%= form.text_field :content %>
  <br>
  <%= form.submit %>
</div>
<% end %>

<%= link_to 'task一覧画面にもどる',tasks_path %>
