<h3>以下の内容で、送信する</h3>
<%= form_with(model: @task, url: tasks_path, local: true) do |form| %>
  <%= form.hidden_field :task_name %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :deadline %>
  <%= form.hidden_field :priority %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :label_ids %>

  <p>task:<%= @task.task_name %></p>
  <p>content:<%= @task.content %></p>
  <p>created_at:<%= @task.created_at %></p>
  <p>deadline:<%= @task.deadline %></p>
  <p>status:<%= @task.status %></p>
  <p>priority:<%= @task.priority_i18n %></p>
  <p>label:<%= @task.label_ids %></p>

  <%= form.submit "登録する" %>
<% end %>

<%= form_with(model: @task, url: new_task_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :task_name %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :deadline %>
  <%= form.hidden_field :priority %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :label_ids %>


  <%= form.submit "戻る", name: 'back' %>
<% end %>
