<h1>task一覧</h1>

<div class="table">
  <table>
    <tr>
      <th><%= 'task_name' %></th>
      <th><%= 'note' %></th>
      <th><%= 'created_at' %></th>
      <th><%= 'deadline' %></th>
      <th><%= 'status' %></th>
      <th><%= 'priority' %></th>
    </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at %></td>
        <td><%= task.deadline %></td>
        <td><%= task.status %></td>
        <td><%= task.priority_i18n %></td>
        <td><%= link_to 'details', task_path(task.id) %></td>
        <td><%= link_to t('edit'), edit_task_path(task.id) %></td>
        <td><%= link_to t('destroy'), task_path(task.id), method: :delete ,data:{confirm:I18n.t('confirm')} %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to '新しいtaskを投稿する',new_task_path %>
