<h1><%= t('views.task') %></h1>
<p><%= notice %></p><br>
<% if notice %>
  <div class="alert alert-info" role="alert">
    <%= notice %>
  </div>
<% end %>

<%= render partial: 'expered_alert', locals: { expired_tasks: @expired_tasks } if @expired_tasks.present? %>

<button type="button" class="btn btn-default"><%= link_to '新しいtaskを作成する', new_task_path %></button>
<button type="button" class="btn btn-default"><%= link_to "終了期日でソートする", tasks_path(sort_expired: "true") %></button>
<button type="button" class="btn btn-default"><%= link_to "優先度でソートする", tasks_path(sort_priority: "true") %></button><br>
<br>

<%= form_with( model:Task.new, method: :get, local: true ) do |f| %>
  <%= f.label :task_name_key, t('views.search_task_name') %>
  <%= f.text_field :task_name_key %>
  <%= f.label :status_key, t('views.search_status') %>
  <%= f.select :status_key, [[t('views.done'),t('views.done')],
                             [t('views.not_started'),t('views.not_started')],
                             [t('views.in_progress'),t('views.in_progress')],
                             [t('views.hold'), t('views.hold')]],
               prompt:''
  %>
  <%= f.label :label_id, "ラベル" %>
  <%= f.select :label_id, Label.all.map{|t| [t.label_name, t.id]}, {include_blank: true} %>

  <%= f.hidden_field :search, value: 'true' %>
  <%= f.submit t('views.search') %>
<% end %>

<div class="table">
  <table class="table table-striped">
    <tr>
      <th><center><%= t('views.task_name') %></center></th>
      <th><center><%= t('views.content') %></center></th>
      <th><center><%= t('views.created_at') %></center></th>
      <th><center><%= link_to "終了期日▼", tasks_path(sort_expired: "true") %></center></th>
      <th><center><%= t('views.status') %></center></th>
      <th><center><%= link_to "優先度▼", tasks_path(sort_priority: "true") %></center></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= task.deadline.strftime("%Y-%m-%d %H:%M") %></td>
        <td><center><%= task.status %></center></td>
        <td><center><%= task.priority_i18n %></center></td>
        <td><%= link_to t('views.details'),  task_path(task, r: task.id) %></td>
        <td><%= link_to t('views.edit'), edit_task_path(task.id) %></td>
        <td><%= link_to t('views.destroy'), task_path(task.id), method: :delete ,data:{confirm:I18n.t('confirm')} %></td>
        <td><%= task.reads.find_by(user_id: current_user.id) ? '既読' : '未読' %></td>
      </tr>
    <% end %>
  </table>
</div>
<br>
<%= month_calendar(attribute: :deadline, events: @tasks, number_of_weeks: 8) do |date, tasks|  %>
  <%= date.day %>
  <% tasks.each do |task| %>
    <div>
      <p id="task_calender<%= task.id%>">期限タスク:<%= link_to task.task_name, task %></p>
    </div>
  <% end %>
<% end %>

<br>
<h2 class="text-center">各ラベルの使用頻度</h2>
<%= column_chart (@graph), xtitle: "ラベル名" %>

<%= paginate @tasks %>
