<h1><%= t('views.task') %></h1>
<p><%= notice %></p>

<%= link_to "終了期日でソートする", tasks_path(sort_expired: "true") %>

<%= form_with( model:Task.new, method: :get, local: true ) do |f| %>
  <%= f.label :task_name_key, t('views.search_task_name') %>
  <%= f.text_field :task_name_key %>
  <%= f.label :status_key, t('views.search_status') %>
  <%= f.select :status_key, [[t('views.done'),t('views.done')],
                             [t('views.not_started'),t('views.not_started')],
                             [t('views.in_progress'),t('views.in_progress')],
                             [t('views.hold'), t('views.hold')]],
               prompt:''
  %>
  <%= f.hidden_field :search, value: 'true' %>
  <%= f.submit t('views.search') %>
<% end %>

<div class="table">
  <table>
    <tr>
      <th><%= t('views.task_name') %></th>
      <th><%= t('views.content') %></th>
      <th><%= t('views.created_at') %></th>
      <th><%= t('views.deadline') %></th>
      <th><%= t('views.status') %></th>
      <th><%= t('views.priority') %></th>
    </tr>

    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.task_name %></td>
        <td><%= task.content %></td>
        <td><%= task.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= task.deadline.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= task.status %></td>
        <td><%= task.priority_i18n %></td>
        <td><%= link_to t('views.details'), task_path(task.id) %></td>
        <td><%= link_to t('views.edit'), edit_task_path(task.id) %></td>
        <td><%= link_to t('views.destroy'), task_path(task.id), method: :delete ,data:{confirm:I18n.t('confirm')} %></td>
      </tr>
    <% end %>
  </table>
</div>

<%= link_to '新しいtaskを投稿する',new_task_path %>
