<h1>task詳細</h1>
<p>task:<%= @task.task_name %></p>
<p>content:<%= @task.content %></p>
<p>created_at:<%= @task.created_at.strftime("%Y-%m-%d %H:%M") %></p>
<p>deadline:<%= @task.deadline.strftime("%Y-%m-%d %H:%M") %></p>
<p>status:<%= @task.status %></p>
<p>priority:<%= @task.priority_i18n %></p>

<%= link_to 'task一覧画面にもどる',tasks_path %>
