<%= form_with(model: @group,local: true) do |f| %>
  <% if @group.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% @group.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :group_name %>
    <%= f.text_field :group_name, class: 'form-control' %>
    <%= hidden_field_tag :owner_id, current_user.id %>
  </div>
  <div class="actions">
    <%= f.submit 'save', class: 'btn btn-primary' %>
  </div>
<% end %>