<h1><%= @user.user_name %>のページ</h1>

<div class="table">
  <table class="table table-striped">
  	<tr>
  		<td>
  			<%= label :group, :メールアドレス %>
  		</td>
	    <td>
	        <%= @user.email %>
	    </td>
	</tr>
	<tr>
		 <td>
			<%= label :group, :入会ブループ %>
		 </td>
		<td>
			<% @favorite_groups.each do |f| %>
				<%= f.id %>
				<%= link_to f.group_name, group_path(f) %>
			<% end %>
	    </td>
    </tr>
  </table>
 </div>

<button type="button" class="btn btn-default"><%= link_to 'タスク一覧表',tasks_path %></button>