<% if notice %>
  <div class="alert alert-info" role="alert">
    <%= notice %>
  </div>
<% end %>
<h1>
  <%= 'グループ' %>
</h1>
<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>
          <%= Group.human_attribute_name(:id) %>
        </th>
        <th>
          <%= Group.human_attribute_name(:グループ名) %>
        </th>
        <th>
          <%= Group.human_attribute_name(:updated_at) %>
        </th>
        <th>
          <%= Group.human_attribute_name(:created_at) %>
        </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td>
            <%= group.id %>
          </td>
          <td>
            <%= group.group_name %>
          </td>
          <td>
            <%= l(group.updated_at, format: :long) %>
          </td>
          <td>
            <%= l(group.created_at, format: :long) %>
          </td>
          <td>
            <%= link_to '詳細', admin_group_path(group) %>
            <%= link_to '編集', edit_admin_group_path(group) %>
            <%= link_to '削除', admin_group_path(group), method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<button type="button" class="btn btn-default"><%= link_to 'グループ作成', new_admin_group_path %></button>
<%= paginate @groups %>
