<%= form_with(model: [:admin, @user], local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> </h2>
      <ul>

        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="admin_form_content">
    <%= f.label :icon %>
    <%= f.file_field :icon %>
    
    <%= f.label :user_name %>
    <%= f.text_field :user_name, class: 'form-control' %>

    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
    <br>

    <%= f.label :admin, class: "form-check-label" %>
    <%= f.check_box :admin, {}, class: 'form-check-input' %>
    <br><br>


    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, id: 'password_confirmation', class: 'form-control' %>

    <%= f.submit '登録' %>
  </div>
<% end %>
